#spaceship-between-planets-popup {
  display: grid;
  grid-template-columns: 1fr 200px 500px 200px 1fr;
  grid-template-rows: auto auto auto;
  overflow-y: scroll;
}

#spaceship-between-planets-popup > header {
  background-color: #c6d5eb;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  height: 150px;
  margin: 50px;
  border-radius: 30px;
}

#spaceship-between-planets-popup > header > .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 3px;
  overflow: hidden;
}

#spaceship-between-planets-popup > header > .header-content > img {
  height: 100%;
  border-radius: 27px 0 0 27px;
}

#spaceship-between-planets-popup > header > .header-content > .name {
  font-size: 40px;
}

#spaceship-between-planets-popup > header > .header-content > .coords {
  margin-right: 40px;
  font-size: 23px;
  text-align: center;
  line-height: 1.5;
}

#spaceship-between-planets-popup .items-list {
  background-color: #c6d5eb;
  padding: 10px 30px;
  margin: 0 20px 40px 20px;
  border-radius: 20px;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#spaceship-between-planets-popup .items-list > header {
  padding: 20px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

#spaceship-between-planets-popup .items-list ul {
  list-style: none;
}

#spaceship-between-planets-popup .items-list li {
  background-color: #213a5f;
  color: #c6d5eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 17px;
}

#spaceship-between-planets-popup .items-list li span {
  text-align: center;
}

#spaceship-between-planets-popup .items-list li.first {
  background-color: inherit;
  color: black;
  padding: 5px 30px;
  font-size: 18px;
  cursor: auto;
}

@media only screen and (max-width: 900px) {
  #spaceship-between-planets-popup {
    grid-template-columns: 1fr 10% 60% 10% 1fr;
  }

  #spaceship-between-planets-popup > header {
    grid-column: 3 / 4;
    height: auto;
  }

  #spaceship-between-planets-popup > header > .header-content {
    flex-direction: column;
    height: auto;
  }

  #spaceship-between-planets-popup > header > .header-content > img {
    width: 100%;
    height: auto;
    border-radius: 27px 27px 0 0;
  }

  #spaceship-between-planets-popup > header > .header-content > .name {
    margin: 30px 0 0 0;
    font-size: 35px;
  }

  #spaceship-between-planets-popup > header > .header-content > .coords {
    margin: 30px 0;
    font-size: 18px;
  }

  #spaceship-between-planets-popup .items-list {
    grid-column: 2 / 5;
  }
}

@media only screen and (max-width: 600px) {
  #spaceship-between-planets-popup {
    grid-template-columns: 1fr 10% 80% 10% 1fr;
  }

  #spaceship-between-planets-popup > header {
    grid-column: 2 / 5;
    margin: 50px 20px;
  }
}

@media only screen and (max-width: 400px) {
  #spaceship-between-planets-popup > header > .header-content > .name {
    font-size: 30px;
  }

  #spaceship-between-planets-popup > header > .header-content > .coords {
    font-size: 18px;
  }

  #spaceship-between-planets-popup .items-list {
    padding: 10px 15px;
  }

  #spaceship-between-planets-popup .items-list > header {
    font-size: 22px;
  }

  #spaceship-between-planets-popup .items-list li {
    font-size: 15px;
    padding: 15px;
  }

  #spaceship-between-planets-popup .items-list li.first {
    font-size: 16px;
    padding: 15px;
  }
}

#spaceship-between-planets-popup .placeholder-1 {
  grid-area: 3 / auto / 4 / auto;
}
